

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    font-family: 'Glegoo', serif;
    background-color: #451010;
    background-image: url("../images/Clot.jpg");
}

h1 {
    text-align: center;
    font-size: 7.3rem;
    letter-spacing: 1rem;
    color: #fcfcfc;
    padding: 1rem 0 4rem 0;
    text-shadow: 0 .6rem rgba(49,27,27, .5);
}

h3 {
    text-align: center;
    font-size: 3.4rem;
    color: #fcfcfc;
}

h6 {
    font-family: "Oxygen";
    color: #aaffaa;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    text-align: center;
    transform: translateY(30vh);
}
.log{
    display: none;
   
}
.lower-half {
    font-family: "Oxygen";
}
.guess-letter {
    font-size: 18rem;
    text-align: center;
    font-weight: 700;
    color: #aaffaa;
    transform: translateY(20vh);
}
hr {
    opacity: .3;
    width: 83%;
    transform: translate(9%,35vh);
}
button {
    font-size: 2rem;
    padding: 2rem 3rem;
    border-radius: 1.5rem;
    letter-spacing: .3rem;
    background-color: transparent;
    color: #aaffaa;
    border: 1px solid #aaffaa;
    /*transform: translate(43.2vw,39vh);*/
}
button:hover {
    cursor: pointer;
    color: #451010;
    background-color: rgba(170, 255, 170, .7);
}
button:active {
    outline: none;
     background-color: rgba(170, 255, 170, .4);
}
.list-container {
    width: 100vw;
    font-size: 2.3rem;
    transform: translateY(39vh);
    display: flex;
    position: absolute; 
    justify-content: center;
    align-content: space-between;
}
ul {
    list-style: none;
    color: #fcfcfc;
}
ul li {
    display: inline;
    padding: 0 5rem;
    align-content: center;
    flex-shrink: 130;
    flex-basis: 18rem;
    
}
li:nth-child(-n+2) {
    opacity: .6;
} 
li:nth-child(n+4) {
    opacity: .6;
} 

@keyframes fadeout {
    
    20% {
        opacity: .4;
    }
    40% {
        opacity: .8;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: .8;
    }
    
    100% {
        opacity: .01; 
    }
}
.in-out{
    animation: 4s fadeout forwards;
}

/* .starter-cover {
    font-family: 'Glegoo', serif;
    background-color: rgba(10,10,10, .98);
    background-size: cover;
    height: 150vh;
    position: relative;
    transform: translateY(-70vh);
    color: #fcfcfc;
    padding-top: 8rem;
} */
